.sub-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: blue;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    color: white;
}